body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-family: OpenSans-Light !important;
    line-height: 1.8 !important;

}

.whiteBackground {
    background: white;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(fonts/open-sans/OpenSans-Light.ttf);
}

.mainTitlePortrait, .mainTitleLandscape {
    display: block;
    position: absolute;
    font-family: OpenSans-Bold;
    left: 50%;
    top: 55%;
    z-index: 0;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}

@media only screen and (orientation: portrait) {
    .mainTitlePortrait {
        font-size: 54px;
        width: 90%;
    }

    .content {
        font-size: 50px;
    }
}

@media only screen and (orientation: landscape) {
    .mainTitleLandscape {
        font-size: 60px;
    }

    .content {
        font-size: 30px;
    }
}

@media only screen and (orientation: portrait) and (min-height: 700px) {
    .mainTitlePortrait {
        font-size: 61px;
    }

    .content {
        font-size: 30px;
    }
}

@media only screen and (orientation: landscape) and (min-width: 900px) {
    .mainTitleLandscape {
        font-size: 42px;
        width: 62%;
    }

    .content {
        font-size: 17px;
    }
}

@media only screen and (orientation: landscape) and (min-width: 1200px) {
    .mainTitleLandscape {
        font-size: 42px;
        width: auto;
    }

    .content {
        font-size: 16px;
    }
}

.title {
    font-size: 60px;
    font-family: OpenSans-Semibold;
    color: #0099e6;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-bottom: 50px;
    margin-bottom: 70px;
}

.subtitle {
    font-size: 30px;
    color: #0099e6;
}

.fullBoard {
    height: 100vh;
}

#mainImage {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

#mainBoardFront {
    width: 100%;
    height: 100vh;
    position: relative;
}

#mainBoard {
    width: 100%;
    height: 100vh;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#mainBody {
    width: 100%;
    position: absolute;
    top: 100vh;
    background-color: rgb(245, 245, 245);
}

#mainBody #profile .profileImage {
    height: 200px;
    width: 200px;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin: 0 auto;
    display: block;
}
