body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-family: OpenSans-Light !important;
    line-height: 1.8 !important;
}

p {
    margin: 0 !important;
}

textarea {
    resize: none;
}

.whiteBackground {
    background: white;
}

.darkBackground {
    background: rgb(50, 50, 50);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: genericons-regular-webfont;
    src: url(fonts/generic-icons/genericons-regular-webfont.ttf);
}

.mainTitlePortrait, .mainTitleLandscape {
    display: block;
    position: absolute;
    font-family: OpenSans-Bold;
    left: 50%;
    top: 55%;
    z-index: 0;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}

.title {
    color: #22A39F;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: rgb(220, 220, 220);
    padding-bottom: 50px;
    margin-bottom: 70px !important;
}

.subtitle {
    font-size: 30px;
    color: #22A39F;
}

.fullBoard {
    min-height: 100vh;
}

.socialIcon {
    height: 45px;
    width: auto;
}

#skillsContent, #languagesContent, #toolsContent {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: rgb(220, 220, 220);
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#toolsContent {
    border-style: none;
}

#careersContent, #profile .row > div {
    margin-bottom: 90px;
}

#contactContent .row > div {
    margin-bottom: 10px;
}

#contact a {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    color: rgb(140,140,140);
    font-size: 18px;
}

#contactContent {
    padding-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-color: rgb(80,80,80);
    border-bottom-width: 1px;
}

.darkBackground .title {
    color: #FFFFFF;
    border-bottom-color: rgb(80,80,80);
    border-bottom-width: 1px;
}

#mainImage {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    -webkit-filter: hue-rotate(-15deg) saturate(60%) brightness(70%);
    filter: hue-rotate(-15deg) saturate(60%) brightness(70%);;
}

#mainBoardFront {
    width: 100%;
    height: 100vh;
}

#mainBoard {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#mainBody {
    width: 100%;
    position: absolute;
    top: 100vh;
    background-color: rgb(245, 245, 245);
}

#mainBody #profile .profileImage {
    height: 200px;
    width: 200px;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin: 0 auto;
    display: block;
}

.socialShare {
    margin-top: 30px;
    margin-bottom: 30px;
}

.socialButton {
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#contactContent .socicon {
    vertical-align: middle;
    font-size: 25px;
}

#contactContent a span:last-child {
    margin-left: 12px;
}

#languageIcons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#languageIcons .languageIcon{
    height: 25px;
    width: 40px;
    margin-right: 8px
}

#projects a {
    text-decoration: none;
    color: #FFFFFF;
}

#projects .projectsContent {
    padding-bottom: 90px;
}

.linkButton {
    margin: 0 auto;
    width: 230px;
    padding: 5px 10px;
    background-color: #22A39F;
    border-width: 2px;
    border-style: solid;
    border-color: #1c8784;
    border-radius: 5%;
}

.linkButton:hover {
    background-color: #428bca;
    border-color: #357ebd;
}

.projectsContent p {
    text-align: center;
}

#contact span, #contact h2 {
    color: rgb(140,140,140);
}

#contact table {
    margin-bottom: 5px;
}

#contact form {
    margin-bottom: 0px;
}

#contact textarea, #contact input, #contact span{
    margin-bottom: 8px;
}

#contact form textarea, #contact form input {
    padding: 3px 5px;
    border-radius: 5px;
}

#contact form input:last-child {
    font-family: opensans-semibold;
}

input, textarea, select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid rgb(150,150,150);
}

.needToFill {
    box-shadow: 0 0 5px #b50a0a;
    border: 1px solid #b50a0a;
}

@media only screen and (orientation: portrait) {
    html:lang(en) .mainTitlePortrait {
        font-size: 19px;
        width: 86%;
    }

    html:lang(es) .mainTitlePortrait {
        font-size: 17px;
        width: 87%;
    }

    .title {
        font-size: 50px;
    }

    .content {
        font-size: 20px;
    }

    #contact a {
        font-size: 14px;
    }

    #habilities .content {
        font-size: 13px;
    }

    #profile .content, #profile .subtitle {
        text-align: center;
    }

    .starsContainer {
        position: relative;
        top: -25px;
        font-size: 16px;
    }
}

@media only screen and (orientation: landscape) {
    html:lang(en) .mainTitlePortrait {
        font-size: 16px;
    }

    html:lang(es) .mainTitlePortrait {
        font-size: 14px;
    }

    .title {
        font-size: 50px;
    }

    .content {
        font-size: 30px;
    }

    #profile .content, #profile .subtitle {
        text-align: center;
    }

    #habilities .content {
        font-size: 13px;
    }

    .starsContainer {
        position: relative;
        top: -25px;
        font-size: 16px;
    }
}

@media only screen and (orientation: portrait) and (min-height: 700px) {
    html:lang(es) .mainTitlePortrait {
        font-size: 41px;
        width: 90%;
    }

    html:lang(en) .mainTitlePortrait {
        font-size: 48px;
        width: 90%;
    }

    .content {
        font-size: 30px;
    }

    #profile .content, #profile .subtitle {
        text-align: center;
    }

    #habilities .content {
        font-size: 20px;
    }

    .starsContainer {
        position: inherit;
        font-size: 16px;
    }
}

@media only screen and (orientation: landscape) and (min-width: 900px) {
    html:lang(en) .mainTitlePortrait {
        font-size: 42px;
        width: 62%;
    }

    html:lang(es) .mainTitlePortrait {
        font-size: 39px;
        width: 62%;
    }

    .content {
        font-size: 17px;
    }

    #profile .content, #profile .subtitle {
        text-align: left;
    }

    #habilities .content {
        font-size: 13px;
    }

    .starsContainer {
        position: inherit;
        top: 0;
        font-size: 10px;
    }
}

@media only screen and (orientation: landscape) and (min-width: 1200px) {
    html:lang(en) .mainTitleLandscape {
        font-size: 42px;
        width: auto;
    }

    html:lang(es) .mainTitleLandscape {
        font-size: 42px;
        width: 51%;
    }

    .title {
        font-size: 60px;
    }

    .content {
        font-size: 16px;
    }

    #profile .content, #profile .subtitle {
        text-align: left;
    }

    #habilities .content {
        font-size: 20px;
    }

    .starsContainer {
        position: inherit;
        font-size: 16px;
    }
}

#contact a:hover {
    color: white !important;
}
