@keyframes updown {
    0%   {top:40%;}
    100% {top:50%;}
}

div.downButton .buttonIcon {
    display: block;
    color: white;
    margin: 0 auto;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-45%);
    animation-name: updown;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

div.downButton {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;;
    left: 0;
    bottom: 0;
}

@media only screen and (orientation: portrait) {
    div.downButton {
        height: 200px;
    }
}

@media only screen and (orientation: landscape) {
    div.downButton {
        height: 200px;
    }
}

@media only screen and (orientation: portrait) and (min-height: 700px) {
    div.downButton {
        height: 200px;
    }
}

@media only screen and (orientation: landscape) and (min-width: 900px) {
    div.downButton {
        height: 100px;
    }
}

@media only screen and (orientation: landscape) and (min-width: 1200px) {
    div.downButton {
        height: 100px;
        width: 10%;
        left: 85%;
    }
}
