.navigationbarContainer {
    position: absolute;
    top: 100vh;
    right: 0;
    width: 100%;
    height: 0;
    z-index: 2;
}

.navigationbar {
    width: 100%;
    height: 100%;
    background-color: #434242;
    font-family: OpenSans-Semibold;
    font-size: 16px;
    padding-top: 40px;
    overflow: hidden;
}

#hamburger {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #434242;
    padding: 5px;
}

.navigationbarContainer.fixed {
    position: fixed;
    top: 0;
}

#hamburger.fixed {
    position: fixed;
}

.navigationbar .button {
    height: 20%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.navigationbar .button:hover {
    color: rgb(140,140,140);
}

.navigationbar a:hover {
    text-decoration: none;
}

.navigationbar .button p {
    position: relative;
    top: 25%;
    text-transform: capitalize;
    display: block;
}

.navigationbar .selected {
    background: #22A39F;
}

@media only screen and (orientation: landscape) and (min-width: 1200px) {
    .navigationbarContainer {
        right: 5%;
        width: 135px;
        height: 500px;
    }

    .navigationbarContainer.fixed {
        top: 5vh;
    }

    .navigationbarContainer #hamburger {
        display: none;
    }

    .navigationbarContainer .navigationbar {
        padding-top: 0;
    }

    .navigationbar .button {
        height: 100px;
    }
}
